In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pnadium as pnad

In [ ]:

# Faz o download do arquivo PNAD Trimestral
pnad.trimestral.download(2024, 4)

In [19]:
dados = pd.read_parquet("pnad_trimestral_trimestre_042024.parquet")
dados

,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,V1016,...,V1028193,V1028194,V1028195,V1028196,V1028197,V1028198,V1028199,V1028200,COD_FAM,COD_PESSOA
0,2024,4,11,11.0,NaN,110000016,1110011,02,11,4,...,957.197334,0.000000,778.285822,0.0,256.600053,0.0,0.000000,283.755315,1100000160211,110000016021101
1,2024,4,11,11.0,NaN,110000016,1110011,02,11,4,...,957.197334,0.000000,778.285822,0.0,256.600053,0.0,0.000000,283.755315,1100000160211,110000016021102
2,2024,4,11,11.0,NaN,110000016,1110011,03,11,4,...,764.380448,0.000000,622.196312,0.0,210.777094,0.0,0.000000,214.602823,1100000160311,110000016031101
3,2024,4,11,11.0,NaN,110000016,1110011,03,11,4,...,764.380448,0.000000,622.196312,0.0,210.777094,0.0,0.000000,214.602823,1100000160311,110000016031102
4,2024,4,11,11.0,NaN,110000016,1110011,03,11,4,...,764.380448,0.000000,622.196312,0.0,210.777094,0.0,0.000000,214.602823,1100000160311,110000016031103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469329,2024,4,53,53.0,NaN,530064123,5310220,12,12,2,...,913.836446,286.883485,0.000000,0.0,603.064276,0.0,573.438723,896.910803,5300641231212,530064123121201
469330,2024,4,53,53.0,NaN,530064123,5310220,12,12,2,...,913.836446,286.883485,0.000000,0.0,603.064276,0.0,573.438723,896.910803,5300641231212,530064123121202
469331,2024,4,53,53.0,NaN,530064123,5310220,12,12,2,...,913.836446,286.883485,0.000000,0.0,603.064276,0.0,573.438723,896.910803,5300641231212,530064123121203
469332,2024,4,53,53.0,NaN,530064123,5310220,14,12,2,...,659.314729,212.233895,0.000000,0.0,447.329338,0.0,446.365763,670.112183,5300641231412,530064123141201
469333,2024,4,53,53.0,NaN,530064123,5310220,14,12,2,...,659.314729,212.233895,0.000000,0.0,447.329338,0.0,446.365763,670.112183,5300641231412,530064123141202

In [20]:
ufs_desejadas = [43, 42, 41]  # 43 = RS, 42 = SC, 41 = PR
df_filtrado = dados[dados['UF'].isin(ufs_desejadas)]
df_filtrado

,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,V1016,...,V1028193,V1028194,V1028195,V1028196,V1028197,V1028198,V1028199,V1028200,COD_FAM,COD_PESSOA
342708,2024,4,41,NaN,NaN,410000118,4154013,01,11,3,...,234.272172,117.043993,119.738789,0.000000,0.000000,0.000000,249.476567,236.152336,4100001180111,410000118011101
342709,2024,4,41,NaN,NaN,410000118,4154013,01,11,3,...,234.272172,117.043993,119.738789,0.000000,0.000000,0.000000,249.476567,236.152336,4100001180111,410000118011102
342710,2024,4,41,NaN,NaN,410000118,4154013,01,11,3,...,234.272172,117.043993,119.738789,0.000000,0.000000,0.000000,249.476567,236.152336,4100001180111,410000118011103
342711,2024,4,41,NaN,NaN,410000118,4154013,02,11,3,...,213.943843,104.871698,107.092646,0.000000,0.000000,0.000000,225.982058,214.261095,4100001180211,410000118021101
342712,2024,4,41,NaN,NaN,410000118,4154013,02,11,3,...,213.943843,104.871698,107.092646,0.000000,0.000000,0.000000,225.982058,214.261095,4100001180211,410000118021102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422851,2024,4,43,NaN,NaN,430286848,4354011,13,12,1,...,0.000000,0.000000,0.000000,517.710572,550.361529,1554.268078,540.724601,1084.060302,4302868481312,430286848131202
422852,2024,4,43,NaN,NaN,430286848,4354011,13,12,1,...,0.000000,0.000000,0.000000,517.710572,550.361529,1554.268078,540.724601,1084.060302,4302868481312,430286848131203
422853,2024,4,43,NaN,NaN,430286848,4354011,14,12,1,...,0.000000,0.000000,0.000000,627.289603,623.461969,1816.756255,596.362589,1289.116060,4302868481412,430286848141201
422854,2024,4,43,NaN,NaN,430286848,4354011,14,12,1,...,0.000000,0.000000,0.000000,627.289603,623.461969,1816.756255,596.362589,1289.116060,4302868481412,430286848141202
422855,2024,4,43,NaN,NaN,430286848,4354011,14,12,1,...,0.000000,0.000000,0.000000,627.289603,623.461969,1816.756255,596.362589,1289.116060,4302868481412,430286848141203

In [27]:
# Passo 1: Filtrar apenas pessoas ocupadas (VD4002 == 1)
df_ocupados = df_filtrado[df_filtrado['VD4002'] == 1].copy()

# Passo 2: Remover registros com rendimento inválido ou não informado (VD4020 <= 0)
df_ocupados = df_ocupados[df_ocupados['VD4020'] > 0]

# Passo 3: Dados relevantes
df_ocupados_relevantes = df_ocupados[['VD4020', 'VD4002', 'V2007', 'V1028']]

# Verificar os dados filtrados
df_ocupados_relevantes.head()

        VD4020  VD4002  V2007       V1028
342708  2800.0     1.0      1  109.706662
342709  1500.0     1.0      2  109.706662
342714  9000.0     1.0      1  102.637692
342718  2000.0     1.0      1  199.053115
342719  2800.0     1.0      1  131.130543

In [28]:
def bootstrap_ci(df, col, weight_col, n_bootstrap=1000, alpha=0.05):
    """
    Calcula estatística (média ou proporção ponderada) e intervalo de confiança usando
    bootstrap.

    Parâmetros:
    ----------
    df : DataFrame
        DataFrame contendo os dados
    col : str
        Nome da coluna com a variável numérica (pode ser 0/1 ou contínua)
    weight_col : str
        Nome da coluna contendo os pesos amostrais
    n_bootstrap : int, opcional
        Número de amostras bootstrap (padrão: 1000)
    alpha : float, opcional
        Nível de significância (padrão: 0.05 para IC de 95%)

    Retorna:
    -------
    float, tuple
        Estatística ponderada original e tupla com limites inferior e superior do IC
    """
    # Estatística original (proporção ou média ponderada)
    stat_original = np.average(df[col], weights=df[weight_col])

    # Estimativas bootstrap
    estimates = []

    for _ in range(n_bootstrap):
        sample = df.sample(frac=1, replace=True)
        stat = np.average(sample[col], weights=sample[weight_col])
        estimates.append(stat)

    # Intervalo de confiança
    lower = np.percentile(estimates, 100 * alpha / 2)
    upper = np.percentile(estimates, 100 * (1- alpha / 2))

    return stat_original, (lower, upper)